
body{
margin:0;
padding:0;
}

@keyframes caleePropic {
	from {transform: scale(1)}
	to {transform: scale(1.8)}
}
@keyframes userPicUp {
	from {transform: scale(0.8)}
	to {transform: scale(1)}
}
@keyframes userPicDown {
	from {transform: scale(1)}
	to {transform: scale(0.8)}
}
@keyframes borderChange{
    10%{border-color: #FF1461 #18FF92 #5A87FF #FBF38C;}
    50%{border-color:#FF1461  #FBF38C #18FF92 #5A87FF;}
    100%{border-color: #FBF38C #18FF92 #5A87FF  #FF1461;}
    from {transform: scale(1.8)}
	to {transform: scale(1)}
}

.caleePropic {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  border-width: 3px;
   border-style: dotted;
  border-radius: 75px;
  position: absolute;
  left:45%; 
}
.caleePicZoom{
  animation: userPic 1s infinite linear,
  userPicDown 1s infinite alternate;
   border:2px solid #8BC34A;
}
.one {
  animation: caleePropic 3s infinite linear,
  borderChange 3s infinite alternate;
}

.two {
  animation: caleePropic 2s infinite linear,
  borderChange 2s infinite alternate;
}
.three {
  animation: caleePropic 1s infinite linear,
  borderChange 1s infinite alternate;
}
