
body{
margin:0;
padding:0;
overflow-y: hidden;
}

@keyframes caleePropic {
	from {transform: scale(1)}
	to {transform: scale(1.8)}
}
@keyframes userPicUp {
	from {transform: scale(0.8)}
	to {transform: scale(1)}
}
@keyframes userPicDown {
	from {transform: scale(1)}
	to {transform: scale(0.8)}
}
@keyframes borderChange{
    00%{border-color: #FF1461 #18FF92 #5A87FF #FBF38C;}
    25%{border-color: #18FF92 #5A87FF #FBF38C #FF1461;}
    50%{border-color: #5A87FF #FBF38C #FF1461 #18FF92;}
    75%{border-color:#FBF38C #FF1461 #18FF92 #5A87FF;}
    100%{border-color: #FF1461 #18FF92 #5A87FF #FBF38C;}
    from {transform: scale(1.8)}
    to {transform: scale(1)}
}

.caleePropic {
  position: absolute;
  left:50%;
  top:50%;
  width: 150px;
  height: 150px;
  margin-top:-75px;
  margin-left:-75px;
  border-width: 3px;
  border-style: dotted;
  border-radius: 75px; 
}
.caleePicZoom{
  animation: userPicUp .4s infinite linear,
  userPicDown .4s infinite alternate;
   border:2px solid #8BC34A;
}
.one {
  animation: caleePropic .4s infinite linear,
  borderChange .4s infinite alternate;
}

.two {
  animation: caleePropic .9s infinite linear,
  borderChange .9s infinite alternate;
}
.three {
  animation: caleePropic 1.5s infinite linear,
  borderChange 1.5s infinite alternate;
}
.container{
  position: absolute;
  top:50%;
  left: 50%;
  background: #ecf0f1;
  width: 100%;
  height: 100%;
  margin-left: -50%; 
  margin-top: -25%
}